[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
[submodule "libs/tinyxml2"]
	path = libs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/turbobadger"]
	path = libs/turbobadger
	url = https://github.com/fruxo/turbobadger.git
[submodule "libs/nanovg"]
	path = libs/nanovg
	url = https://github.com/memononen/nanovg
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/nigels-com/glew.git
[submodule "libs/ogre"]
	path = libs/ogre
	url = ./libs/ogre
[submodule "libs/alure"]
	path = libs/alure
	url = git://repo.or.cz/alure.git
